<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Распределение тарно-штучного груза</title>



    <script src="/js/script.js"></script>
    <!-- <script src="../static/js/script.js"></script> -->


    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/material-darker.min.css">

    <!-- CodeMirror JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/javascript/javascript.min.js"></script>

    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->

</head>

<body>
    <h1>Выберите метод распределения</h1>
    <div class="start-panel">
        <label><input type="checkbox" id="RANDOM">Случайное размещение
            <button type="button" class="toggle-button" onclick="toggleDetails('details1', this)">➕</button>
        </label>
        <div id="details1" class="details">Применяется исключительно для сравнения с другими вариантами размещения.
            Показывает наименее эффективное размещение.
        </div>
        <br>

        <label><input type="checkbox" id="ELECTRE_TRI">ELECTRE TRI
            <button type="button" class="toggle-button" onclick="toggleDetails('details2', this)">➕</button>
        </label>
        <div id="details2" class="details">ELECTRE TRI распределяет объекты (товары) по заранее определенным категориям
            (например, приоритетные и менее приоритетные группы). Метод использует концепцию порогов, которые позволяют
            учитывать чувствительность критериев и степень согласованности решений.
        </div>
        <br>

        <label><input type="checkbox" id="TOPSIS">TOPSIS
            <button type="button" class="toggle-button" onclick="toggleDetails('details3', this)">➕</button>
        </label>
        <div id="details3" class="details">Идея метода заключается в том, чтобы найти альтернативу, которая была бы
            максимально близка к идеальному решению и максимально удалена от анти-идеального решения. В основе лежит
            предположение, что для каждого критерия существует его идеальное значение (максимальное или минимальное), к
            которому и должна стремиться каждая альтернатива.
        </div>
        <br>

        <label><input type="checkbox" id="ELECTRE_TRI_TOPSIS">ELECTRE TRI + TOPSIS
            <button type="button" class="toggle-button" onclick="toggleDetails('details4', this)">➕</button>
        </label>
        <div id="details4" class="details">Комбинированный подход ELECTRE TRI + TOPSIS объединяет сильные стороны двух
            мощных многокритериальных методов: ELECTRE TRI, который классифицирует товары по категориям на основе их
            характеристик, и TOPSIS, который помогает выбрать наиболее подходящие решения из предварительно отобранных.
            Эта
            комбинация обеспечивает высокую точность и эффективность, поскольку позволяет сначала сузить набор
            потенциальных
            решений ELECTRE TRI, а затем выполнить детальную оценку оставшихся вариантов TOPSIS.
        </div>
        <br>

        <label><input type="checkbox" id="GA">Genetic Algorithm
            <button type="button" class="toggle-button" onclick="toggleDetails('details5', this)">➕</button>
        </label>
        <div id="details5" class="details">Основная идея заключается в том, чтобы находить оптимальное или приближенное
            к
            оптимальному решение сложной задачи путем имитации процессов, происходящих в природе: селекции, кроссовера и
            мутации. В нашей реализации на этапе инициализации создается начальный набор решений. Каждое решение
            представляет собой отображение товаров на ячейки.
        </div>
        <br>

        <div class="config-block">
            <h2>Загрузите конфигурацию склада</h2>
            <label class="file-upload">
                <img src="img/filetype-json.svg" alt="Upload icon">
                Загрузить файл
                <input type="file" id="warehouseConfig" accept=".json" class="file-input">
            </label>
            <button class="file-button" type="button" onclick="clearJson()">Очистить</button>

            <a href="/warehouse_ex.json" download>Скачать пример</a>

            <br>
            <div class="checkbox-row">
                <label><input type="checkbox" id="generateCells">Сгенерировать ячейки
                    <input type="number" id="cellsAmount" min="1" step="1" value="100">Количество ячеек</input>
                    <button type="button" class="toggle-button" onclick="toggleDetails('details6', this)">➕</button>
                </label>
                <div id="details6" class="details"> Если в файле
                    json указан список products и он не пуст, то будет
                    сгенерировано n товаров по примеру первого товара из списка.
                </div>
                <label><input type="checkbox" id="generateProducts">Сгенерировать товары
                    <input type="number" id="productsAmount" min="1" step="1" value="100">Количество товаров</input>
                    <button type="button" class="toggle-button" onclick="toggleDetails('details7', this)">➕</button>
                </label>
                <div id="details7" class="details"> Если в файле
                    json указан список products и он не пуст, то будет
                    сгенерировано n товаров по примеру первого товара из списка.
                </div>
            </div>

            <button class="file-button" type="button" onclick="downloadEditorJson()">Скачать конфигурацию JSON</button>
            <br>
        </div>

        <div class="warehouse-constructor-block">
            <h3><button type="button" onclick="toggleConstructor()" id="openConstructor">Открыть
                    конструктор склада</button>
            </h3>
            <div id="warehouseConstructor" class="constructor-form">

                <label>ID склада:
                    <input type="text" id="whId" value="WH001">
                </label><br>

                <label>Точка комплектации (assemblyPoint):</label><br>
                x: <input type="number" id="apX" value="0">
                y: <input type="number" id="apY" value="0">
                z: <input type="number" id="apZ" value="0"><br>

                <label>Количество уровней:
                    <input type="number" id="levels" value="6">
                </label><br>

                <label>Общее количество ячеек:
                    <input type="number" id="totalCells" value="100">
                </label><br>

                <label>Размер ячейки:</label><br>
                ширина: <input type="number" id="cellWidth" value="100">
                высота: <input type="number" id="cellHeight" value="50">
                глубина: <input type="number" id="cellDepth" value="50"><br><br>

                <button type="button" onclick="generateJsonFromConstructor()">Сгенерировать конфигурацию</button>
            </div>

            <div class="json-editor-block">
                <h2>Отредактируйте конфигурацию</h2>
                <textarea id="jsonTextArea"></textarea>
                <p id="jsonError" style="color: red;"></p>
                <!--    <textarea id="jsonTextArea" rows="10" cols="50"></textarea>-->
                <br>

                <button type="button" id="sendButton">Отправить</button>
            </div>
        </div>
    </div>

    <div class="visualization-block">
        <div id="3d_charts">
            <h3>План распределения</h3>

            <div class="graph-3d" id="warehouse3d_RANDOM"></div>
            <div class="graph-3d" id="warehouse3d_ELECTRE_TRI"></div>
            <div class="graph-3d" id="warehouse3d_TOPSIS"></div>
            <div class="graph-3d" id="warehouse3d_ELECTRE_TRI_TOPSIS"></div>
            <div class="graph-3d" id="warehouse3d_GA"></div>
        </div>


        <h3>Сравнение Score и времени выполнения</h3>

        <div id="scoreChart" class="graph-2d"></div>
        <div id="timeChart" class="graph-2d"></div>

    </div>


    <div id="results" class="results-block">
        <div class="result-block" data-method="RANDOM">
            <h2>Случайное размещение:</h2>
            <p>Score: <span class="score">-</span></p>
            <p>Затрачено времени: <span class="time">-</span></p>
            <button  class="download-res">Скачать файл размещения</button>
        </div>

        <div class="result-block" data-method="ELECTRE_TRI">
            <h2>ELECTRE TRI:</h2>
            <p>Score: <span class="score">-</span></p>
            <p>Затрачено времени: <span class="time">-</span></p>
            <button  class="download-res">Скачать файл размещения</button>
        </div>

        <div class="result-block" data-method="TOPSIS">
            <h2>TOPSIS:</h2>
            <p>Score: <span class="score">-</span></p>
            <p>Затрачено времени: <span class="time">-</span></p>
            <button  class="download-res">Скачать файл размещения</button>
        </div>

        <div class="result-block" data-method="ELECTRE_TRI_TOPSIS">
            <h2>ELECTRE TRI + TOPSIS:</h2>
            <p>Score: <span class="score">-</span></p>
            <p>Затрачено времени: <span class="time">-</span></p>
            <button  class="download-res">Скачать файл размещения</button>
        </div>

        <div class="result-block" data-method="GA">
            <h2>Genetic Algorithm:</h2>
            <p>Score: <span class="score">-</span></p>
            <p>Затрачено времени: <span class="time">-</span></p>
            <button  class="download-res">Скачать файл размещения</button>
        </div>
    </div>
</body>

</html>